xml/modelo.dtd

<!-- DTD para FitLife Gym - Gestión de socios, clases y entrenadores -->

<!ELEMENT gimnasio (socios, entrenadores, clases)>
<!ATTLIST gimnasio
  nombre CDATA #REQUIRED
>

<!-- ==================== SOCIOS ==================== -->
<!ELEMENT socios (socio+)>

<!ELEMENT socio (nombre, email, telefono, fecha_alta, tipo_membresia, inscripciones)>
<!ATTLIST socio
  id       ID     #REQUIRED
  estado   (activo | baja | suspendido) #REQUIRED
>

<!ELEMENT nombre     (#PCDATA)>
<!ELEMENT email      (#PCDATA)>
<!ELEMENT telefono   (#PCDATA)>
<!ELEMENT fecha_alta (#PCDATA)>

<!ELEMENT tipo_membresia (#PCDATA)>

<!ELEMENT inscripciones (inscripcion*)>
<!ELEMENT inscripcion EMPTY>
<!ATTLIST inscripcion
  ref_clase IDREF  #REQUIRED
  fecha     CDATA  #REQUIRED
>

<!-- ==================== ENTRENADORES ==================== -->
<!ELEMENT entrenadores (entrenador+)>

<!ELEMENT entrenador (nombre, email, telefono, fecha_contrato)>
<!ATTLIST entrenador
  id           ID     #REQUIRED
  especialidad (musculacion | yoga | cardio | crossfit | pilates) #REQUIRED
>

<!ELEMENT fecha_contrato (#PCDATA)>

<!-- ==================== CLASES ==================== -->
<!ELEMENT clases (clase+)>

<!ELEMENT clase (nombre, descripcion, horario, aforo_maximo, precio_mensual, ref_entrenador)>
<!ATTLIST clase
  id     ID     #REQUIRED
  tipo   (musculacion | yoga | cardio | crossfit | pilates) #REQUIRED
  estado (activa | cancelada | completa) #REQUIRED
>

<!ELEMENT descripcion    (#PCDATA)>
<!ELEMENT horario        EMPTY>
<!ATTLIST horario
  dia         (lunes | martes | miercoles | jueves | viernes | sabado | domingo) #REQUIRED
  hora_inicio CDATA #REQUIRED
  hora_fin    CDATA #REQUIRED
>
<!ELEMENT aforo_maximo   (#PCDATA)>
<!ELEMENT precio_mensual (#PCDATA)>
<!ELEMENT ref_entrenador (#PCDATA)>
